.container{
    max-width:1000px;
    margin:auto;
    font-family:"poppins";
}
.navbar{
    
    float:right;
    text-decoration:none;
    display:flex;
    font-size:x-large;
    color:black;
    padding:40px;
    margin-right:20px;
    justify-content:space-between;
}

.home{
    margin-right: 20px;
    padding:20px;
}

.firstimage{
    margin-bottom:80px;
    padding:40px;
}

.firstdiv{
    display:flex;
    padding:10px;
    float:left;
}
button{
    background-color: rgb(255, 187, 0);
    margin-top:90px;
}
#secondimage{
    float:right;
    margin-top:10px;
    margin-right:20px;
 
}

.rain{
    margin-top:80px;
    
}

.deliveries{
    display:flex;
    float:left;
    background-color:rgb(239, 253, 255);
    height:100%;
    
}
.qualityburgers{
    border:1.5px solid rgb(114, 69, 69);
    padding:10px;
    margin:20px;
    float:left;
    width:30%;
    flex:row;
    text-align:center;
    border-radius: 25px;
   
}


.fastdelivery{
    border:1.5px solid rgb(114, 69, 69);
    padding:10px;
    margin:20px;
    float:left;
    width:40%;
    height:40%;
    flex:row;
    text-align:center;
    border-radius: 25px;
    
}

.deliciousmeals{
    border:1.5px solid rgb(114, 69, 69);
    padding:10px;
    margin:20px;
    float:left;
    width:30%;
    flex:row;
    text-align:center;
    border-radius: 25px;
}

.menu{
    display:inline-block;
    flex-wrap:wrap;
    
}

.topleft{
border:3px solid black;
padding:10px;
margin :20px;
float:left;
width:25%;
flex:row;
text-align:center;
border-radius: 25px;

}

.topcenter{
border:3px solid black;
padding:10px;
margin:20px;
float:left;
width:25%;
flex:row;
text-align:center;
border-radius: 25px;

}

.topright{
border:3px solid black;
padding:10px;
margin:20px;
float:left;
width:25%;
flex:row;
text-align:center;
border-radius: 25px;

}

.amount{
 display:flex;

}

.cart{
 float:right;
 border:1 px solid rgb(239, 253, 255);
 background-color:rgb(239, 253, 255);
 border-radius: 15px;
 text-align: right;
}

.bottomleft{
    border:3px solid black;
    padding:10px;
    margin:20px;
    float:left;
    width:25%;
    flex:row;
    text-align:center;
    border-radius: 25px;
 }

 .bottomcenter{
    border:3px solid black;
    padding:10px;
    margin:20px;
    float:left;
    width:25%;
    flex:row;
    text-align:center;
    border-radius: 25px;
 }

 .bottomright{
    border:3px solid black;
    padding:10px;
    margin:20px;
    float:left;
    width:25%;
    flex:row;
    text-align:center;
    border-radius: 25px;
 }

 .doubledecker{
    display:flex;
    background-color:rgb(239, 253, 255);
    padding:100px;
}
