.container{
    max-width:1000px;
    margin:auto;
    font-family:"poppins";
}
.navbar{
    
    float:right;
    text-decoration:none;
    display:flex;
    font-size:x-large;
    color:black;
    padding:40px;
    margin-right:20px;
    justify-content:space-between;
}

.home{
    margin-right: 20px;
    padding:20px;
}

.firstimage{
    margin-bottom:80px;
    padding:40px;
}

.firstdiv{
    display:flex;
    padding:10px;
    float:left;
}